/* Global Style --------------*/
body {
    font-family: 'Lora', serif;
    text-transform: capitalize
}

/* Toggler Icons -------*/
.icons-bar-toggel{
    width: 60px;
    padding: 10px;
    position: fixed;
    border-radius: 10px;
    z-index: 10;
    cursor: pointer;
    top: 15px;
    left: 10px;
}
@media(max-width: 992px){
    .icons-bar-toggel{
        width: 45px;
    }
}
.icons-bar-toggel span{
    height: 4px;
    width: 100%;
    background: #000;
    z-index: 10;
    display: block;
    transition: all .3s ease-in;
}
.icons-bar-toggel span:not(:first-child){
    margin-top: 10px;
}
.icons-bar-toggel .trns:first-child{
    transform: rotate(-40deg) translate(-8px,10px);
    background: #fff;
}
.icons-bar-toggel .trns:nth-child(2){
    opacity: 0
}
.icons-bar-toggel .trns:last-child{
    transform: rotate(40deg) translate(-9px,-11px);
    background: #fff;
}
/* blocks sectios -----*/
.block{
    display: block;
}
.about,
.porto,
.contact{
    display: none;
}
/* Heading sectios -----*/
.title_section{
    font-size: 2.6em;
    color: #4B77BE;
    letter-spacing: 3px;
}
.title_section::after{
    content: "";
    height: 100%;
    width: 80px;
    border: 2px solid #4B77BE;
    display: block;
    margin: 10px auto 0;
}
/* Bottuns sectios -----*/
.btns{
    padding: 5px 15px ;
    outline: none !important;
    border: 1px solid #4B77BE;
    font-size: 1.5em;
    color: #fff;
    background: #4B77BE;
    margin: 30px auto 0;
    transition: all .3s ease-in;
    border-radius: 10px;
}
.btns:hover{
    color: #4B77BE;
    background: #fff;
}
/*Overlay -------*/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    display: block;
    top: 0;
    left: 0;
    bottom:0;
    transition: all .3s ease-in;
    cursor: pointer;
    z-index: 2;
}
.overlay .over_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 3;
    text-align: center
}

.overlay .over_title h3{
    font-size: 25px
}
/* End Global ---------*/
/* Start Nav -----------*/
nav {
    background-color: #000;
    padding: 30px;
    text-align: center;
    z-index: 8;
    display: none;
    height: 100vh;
    position: fixed !important;
    opacity: .8;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    padding: 10px 0
}
nav ul li a {
    color: #fff;
    font-size: 1.5em;
    transition: all .3 ease-in
}
nav ul li:hover a{
    color:#4B77BE;
    text-decoration: none
}

nav .sochil i{
    margin: 0 5px;
    transition: all .3s ease-in;
    cursor: pointer;
    color: #e4e1e1;
    font-size: 2em
}
@media(max-width: 992px){
    nav ul li{
        padding: 5px 0
    }
    nav ul li a {
        font-size: .8em;
    }
    nav .sochil i{
        margin: 10px 5px;
        font-size: 1em
    }
}
nav .sochil i.fa-facebook:hover{
    color: #213e97;
}
nav .sochil i.fa-github:hover{
    color: #333;
}
nav .sochil i.fa-twitter:hover{
    color: #1da1f2;
}
nav .sochil i.fa-linkedin:hover{
    color: #0077b5;
}
nav .copy p{
    color: #fff;
    font-size: 1.3em;
    width: 100%;
    padding: 0 5px
}

@media(max-width: 992px){
    nav .copy p{
        font-size: .8em;
    }
}
/* End Nav -----------*/
/* Start Header -----------*/
header {
    background: url('../images/header/undraw_code_review_l1q9.svg') no-repeat center ,linear-gradient(rgba(75, 119, 190, .8), rgba(75, 119, 190, .9));
    background-size: contain;
    height: 100vh
}
header .box_desc img{
    width: 150px;
}
@media(max-width: 992px){
    header .box_desc img{
        width: 60px;
    }
}
header h1{
    font-size: 2.7em;
    color: #fff;
}
@media(max-width: 992px){
    header .title_box  h1{
        font-size: 1.6em
    }
}
header .title_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #FFF
}
/* End Header -----------*/
/* Start About Me --------*/
.about img:first-child{
    width: 100%;
}
@media(max-width: 992px){
    .about img:first-child{
        width: 150px;
    }
}
.about .title_desc_about{
    letter-spacing: 1px;
    color: #4B77BE;
}
.about .desc_about .cd-headline{
    font-size: 21px !important
}
.about .desc_about .about_box_desc h2{
    display: inline-block;
    letter-spacing: 1px;
    color: #4B77BE;
    font-weight: bold
}
.about .desc_about .about_box_desc span{
    font-size: 1.4em;
}
.about .skills .skills_prog {
    position: relative;
    margin: 20px 0 
}
.about .skills .skills_prog h2{
    color: #4B77BE
}
.about .skills .skills_prog .progress{
    margin: 10px 0;
}

.about .skills .skills_prog .progress .progress-bar{
    background: #4B77BE !important
}
.about .skills .skills_prog .progress span{
    position: absolute;
    font-size: 16px;
    color: #4B77BE;
    right: 0;
    top: 0;
    z-index: 10;
}
.about .skills .skills_prog .progress span::after{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #4B77BE transparent transparent;
    left: 5px;
    bottom: -20;
}
/* End About Me -----------*/
/* Start Portoflio -------*/
.porto .porto_box{
    position: relative;
    margin: 10px 0;
    box-shadow: 5px 5px 10px #000;
}
.porto_box:hover .overlay{
    opacity: .8
}

.porto_box:hover .overlay .over_title h3{
    opacity: 1;
    z-index: 4;
}
.porto .popup{
    background: rgba(0, 0, 0, .8);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}
.porto .popup .ineer-popup {
    width: 700px;
    z-index: 3;
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%)
}
@media(max-width: 992px){
    .porto .popup .ineer-popup {
        width: 90%;
    }
}
.porto .popup .ineer-popup  img{
    width: 100%;
}
.porto .popup .ineer-popup .box{
    position: relative;
    text-align: center;
    background: transparent;
    display: flex
}
.porto .popup .ineer-popup .btn-popup{
    font-size: 20px;
    color: #fff;
    letter-spacing: 3px;
    text-decoration: none;
    width: 50%;
}
.porto .popup .ineer-popup .btn-popup:nth-child(1){
    margin-right: 10px
}
@media(max-width: 992px){
    .porto .popup .ineer-popup .btn-popup{
        font-size: 16px;
    }
}
.porto .popup .ineer-popup .btn-popup:hover{
    background-color: transparent;
    border: 1px solid #fff;
}
/* End Portoflio -------*/
/* Start Contact -------*/
.contact {
    margin-top: 150px;
}
.contact form input{
    width: 100%;
    margin-top: 30px;
    padding: 15px 10px;
    border: none;
    border-bottom: 2px solid #e2e2e2;
    outline: none;
}
.contact form input:focus,
.contact form textarea:focus{
    box-shadow: 3px 0 5px 5px #e2e2e2
}
.contact form input::placeholder,
.contact form textarea::placeholder{
    color: #999
}
.contact form textarea{
    width: 100%;
    border: none;
    border-bottom: 2px solid #e2e2e2;
    outline: none;
    margin-top: 30px;
    padding: 15px 10px;
    max-width: 100%;
    max-height: 227px
}
@media(max-width: 992px){
    .contact form textarea,
    .contact form input:not(:first-child){
        margin-top: 20px;
    }
    .contact{
        margin-top: 0
    }
}
/* End Contact -------*/