/*
    1- Global-Style
        1.1 - Header Section
            1.1.1 - Form User
            1.1.3 - Search Box Header
            1.1.4 - DrobDown Menu

        1.2 - Footer Section
            1.2.1- Copy Right
        1.3 - Icon Chat 
            1.3.1 - Popup - Chat

    3- Home-Page
        3.2 - Exampales Section (Photo - video)
            3.2.1 - Overlay
        3.3 - Videos Section
            3.3.1 - Trusted Section
        3.4 - Pricing Section
            3.4.1 - Said Abuot us ( Testmonial)
    
    4- 404-Page

    5- Question-Page

    6- Contact-page

    7- Resarch-Page
    
    8- Cart Popup-page
    
    9- Special-Page

    10-
*/

/* 1-  Global Style */
body {
    text-transform: capitalize;
    position: relative;
}
a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}
button {
    outline: none !important;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
.bolder {
    font-weight: bold;
}
/*------------------------------------------------
 1.1 - Header Section */
header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../images/header/Asset\ 4.png") no-repeat;
    background-size: cover;
    position: relative;
}
header .logo img {
    width: 100px;
}
header nav .nav-item {
    margin: 0 10px;
}
header nav .nav-link {
    color: #fff !important;
    position: relative;
}
header nav .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: #a2d13a;
    transition: width 0.3s;
}
header nav .nav-link:hover::before {
    width: 100%;
}
.header-icons li {
    display: inline-block;
}

.header-icons li > i,
.header-icons .form-user-nav .user-form i.fa-user {
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.header-icons li > i.fa-user,
.header-icons .form-user-nav .user-form i.fa-user,
.cart-popup .fa-cart-plus {
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    line-height: 40px;
    position: relative;
}
.cart-popup .fa-cart-plus::after {
    content: "0";
    color: #fff;
    position: absolute;
    background: #d1196f;
    width: 15px;
    height: 15px;
    left: 20px;
    top: 5px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
}

@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
    .header-icons {
        padding: 0;
        margin-top: 15px;
    }
    .header-icons li {
        margin: 0 5px;
    }
}
/* -------------------------------------------
1.1.1 - Form User */
.header-icons .form-user-nav .user-form {
    position: absolute;
    z-index: 2;
    background-color: #fff;
    left: 70px;
    top: 55px;
    padding: 15px 0;
    text-align: left;
    display: none;
}
.list-user-form-nav {
    padding: 0;
}
.header-icons .form-user-nav .user-form::before,
.search-box-header .categories-menu .drobdwon::before {
    content: "";
    position: absolute;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.header-icons .form-user-nav .user-form::before {
    top: -30px;
    right: 35%;
}
.header-icons .form-user-nav .user-form i.fa-user {
    background-color: #e2e2e2;
    text-align: center;
}
.list-user-form-nav li {
    padding: 15px 10px;
    display: block;
}
.list-user-form-nav li:hover {
    background-color: #e6e6e6;
}
.list-user-form-nav li:last-child {
    border-top: 1px solid #e6e5e5;
}
.list-user-form-nav li img {
    padding: 0 10px;
}
.list-user-form-nav li a {
    color: #000;
}
@media (max-width: 767px) {
    .header-icons .form-user-nav .user-form {
        left: 0;
    }
    .header-icons .form-user-nav .user-form::before {
        right: 32%;
    }
    .title-user-form {
        font-size: 20px;
    }
}
/*-----------------------------------------------
1.1.2 Search Box Header  */
.search-box-header {
    background-color: #fff;
    width: 80%;
    position: relative;
}
.search-box-header .line-search {
    padding: 0 10px;
    text-align: center;
    width: 50px;
}
.search-box-header .npt-box {
    border: none;
    border-left: 2px solid #e6e5e5;
}
.search-box-header .cam {
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 20px;
}
.search-box-header .npt-box::placeholder {
    color: #999;
}
.search-box-header .categories-menu {
    cursor: pointer;
    border-left: 2px solid #e6e5e5;
    position: relative;
    padding: 10px;
}
.search-box-header .icon-search i {
    position: absolute;
    display: block;
    top: -5px;
    right: 15px;
    background: #a2d13a;
    color: #fff;
    width: 100px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}
.search-box-header .special {
    background-color: #d1196f;
    color: #fff;
    height: 100%;
    width: 100%;
}
.search-box-header .special span {
    display: block;
}
@media (max-width: 992px) {
    .categories-menu {
        padding: 5px 0 5px 4px;
        border: none;
    }
    .search-box-header .icon-search i {
        top: 0;
        left: 0;
        width: auto;
    }
    .search-box-header .special {
        height: 50px;
        left: none;
        line-height: 2.5;
    }
    .search-box-header .special span {
        display: inline;
    }
    .search-box-header .cam {
        right: 25px;
    }
}

@media (max-width: 767px) {
    .search-box-header {
        width: 100%;
        margin-top: 5px !important;
    }
    .search-box-header .npt-box {
        width: auto;
    }
    .search-box-header .categories-menu {
        padding-bottom: 0;
    }
    .search-box-header .icon-search i {
        top: 0;
        left: 0;
        width: auto;
        position: absolute;
        height: 50px;
        line-height: 50px;
    }
    .search-box-header .special {
        position: absolute;
        left: -15px;
        left: none;
        line-height: 1.3;
        width: 100%;
        padding: 5px;
    }
}
/*----------------------------------------------------------
1.1.3 - DrobDown Menu */

.search-box-header .categories-menu .drobdwon {
    position: absolute;
    background-color: #fff;
    top: 80px;
    left: -30px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s, visibility 0.3s;
    z-index: 2;
}
.search-box-header .categories-menu .drobdwon ul {
    padding: 0;
}
.search-box-header .categories-menu .drobdwon::before {
    top: -35px;
    left: 45%;
    transform: translate(-50%, 0);
}

.search-box-header .categories-menu:hover .drobdwon {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
@media (max-width: 767px) {
    .search-box-header .categories-menu .drobdwon {
        left: 5px;
        top: 60px;
        z-index: 3;
    }
}
/* --------------------------------------
3.2 - Exampales Section (Photo - video)
*/
.title-examples p {
    position: relative;
    left: 20px;
    color: #999;
}
.title-examples p::before {
    content: "-";
    color: #96ccd2;
    position: absolute;
    left: -15px;
}
.btn-vid-pho button {
    background-color: #f5f5f5;
    width: 100px;
    text-align: right;
    position: relative;
    border-radius: 2px;
}
.btn-vid-pho button::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 3px;
    width: 0%;
    background-color: #96ccd2;
    transition: width 0.3s;
}
.btn-vid-pho button:hover::after {
    width: 60%;
}
.btn-vid-pho button:nth-child(1)::before {
    position: absolute;
    content: url("../images/example/Group 541.png");
    left: 10px;
}
.btn-vid-pho button:nth-child(2)::before {
    position: absolute;
    content: url("../images/example/Group 542.png");
    left: 10px;
}

.examples .photo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}
.examples .photo-grid img {
    width: 100%;
    margin-bottom: 5px;
}
.examples .more {
    padding: 15px 20px;
    display: block;
    width: 200px;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    color: #333;
    font-style: italic;
    position: relative;
}
.examples .more::before {
    content: url("../images/example/bee0d4b8-2df8-41f3-b4ae-43d03f153c35.jpg");
    position: absolute;
    left: 15px;
    border: 8px solid #e6e6e6;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 17px;
    top: 10px;
}
@media (max-width: 767px) {
    .examples .btn-vid-pho button {
        margin-bottom: 10px;
    }
    .examples .photo-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
/*----------------------------------
3.2.1 - Overlay */
.examples .overlay {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.overlay .content-over-grid {
    position: absolute;
    color: #fff;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s, visibility 0.3s;
}
.overlay:hover .content-over-grid {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}
.content-over-grid .right-over {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.content-over-grid .right-over i {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-top: 10px;
    border-radius: 2px;
    cursor: pointer;
}
.content-over-grid .right-over i:nth-child(1) {
    background-color: #d1196f;
}
.content-over-grid .right-over i:nth-child(2) {
    background-color: #a2d13a;
}
.content-over-grid .down-over {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.content-over-grid .down-over i {
    margin: 0 5px;
    cursor: pointer;
}
/*-----------------------------
3.3 - Videos Section */
.mosaic-stock {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    padding-right: 100px;
    padding-left: 100px;
}
.mosaic-stock .overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.mosaic-stock video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.mosaic-stock .container {
    position: relative;
    z-index: 2;
}
.mosaic-stock .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    padding: 0 0 5px 0;
}
.mosaic-stock .txt h2 {
    border-top: none;
    font-weight: 400;
    font-size: 50px;
}
.mosaic-stock .txt p {
    font-size: 25px;
}
.mosaic-stock .txt input {
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
}
.mosaic-stock .txt .btn {
    background-color: #c9236d;
    color: #fff;
    padding: 10px 15px;
    width: 150px;
    font-size: 15px;
    border: 1px solid #c9236d;
    transition: background-color 0.3s;
}
.mosaic-stock .txt .btn:hover {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}
.mosaic-stock .fa-angle-up {
    position: absolute;
    bottom: -20px;
    right: -40px;
    color: #000;
    background-color: #e6e6e6;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
@media (max-width: 767px) {
    .mosaic-stock .txt {
        width: auto;
    }
    .mosaic-stock .txt h2 {
        margin-right: 25px;
        margin-left: 20px;
        font-weight: 200;
        font-size: 20px;
    }
    .mosaic-stock .txt p {
        font-size: 15px;
    }
    .mosaic-stock .txt input {
        margin-top: 10px;
    }
    .mosaic-stock .txt .btn {
        margin-top: 10px;
    }
    .mosaic-stock .fa-angle-up {
        right: -80px;
    }
}
/* -----------------------------
3.3.1 - Trusted Section */
.trusted {
    background-color: #262626;
    color: #fff;
    padding: 80px 0;
}
.title-trusted p {
    color: #999;
}
.trusted-gird {
    display: flex;
    justify-content: center;
}
.trusted-gird .trusted-img {
    margin: 0 15px;
}
.trusted-gird .trusted-img img {
    border-radius: 50%;
}
@media (max-width: 767px) {
    .trusted-gird {
        flex-direction: column;
    }
    .trusted-gird .trusted-img {
        margin: 15px 0;
    }
}

/* ----------------------------------
3.4 - Pricing Section */
.pricing {
    padding-bottom: 250px;
}
.pricing .title-pric .name-title {
    font-size: 50px;
}
.pricing .title-pric p {
    color: #999;
}
.pricing .box-title-pric .pric-link {
    width: 95px;
    display: inline-block;
    color: #999;
    position: relative;
    font-weight: bold;
}
.pricing .box-title-pric .pric-link:hover {
    color: #000;
}
.pricing .box-title-pric .pric-link::before {
    position: absolute;
    top: 2px;
}
.pricing .box-title-pric .pric-link:nth-child(1)::before {
    content: url("../images/example/Group 541.png");
    left: 20px;
}
.pricing .box-title-pric .pric-link:nth-child(3)::before {
    content: url("../images/example/Group 542.png");
    left: 15px;
}
.pricing .box-title-pric .bull-title-pric {
    position: relative;
    border: 1px solid #e6e5e5;
    border-radius: 30px;
    padding: 8px 45px;
    background: #f1f1f1;
    margin-left: 15px;
}
.pricing .box-title-pric .bull-title-pric::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    padding: 14px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #a2d13a;
    transition: left 0.3s;
    cursor: pointer;
}
.pricing .box-title-pric .bull-title-pric:hover::before {
    left: 50px;
}
/* -----------------------
3.4.1 - Said Abuot Us */
.said-about {
    background-color: #dfcfaa;
}
.said-about .pric-menu {
    background-color: #ecf8fe;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 15px 0 #999;
    position: relative;
    top: -250px;
    padding-left: 200px;
}
.slider-col-pricing {
    display: flex;
    align-items: center;
}
.said-about .title-menu {
    position: absolute;
    z-index: 5;
}
.said-about .title-menu li {
    padding-bottom: 50px;
    margin-top: -15px;
}
.said-about .pric-menu .col-pric {
    background-color: #fff;
    margin: 0 10px;
    padding: 15px 10px;
    position: relative;
    top: -15px;
}
.head-col-pric {
    border-bottom: 1px solid #e2e2e2;
}
.head-col-pric img {
    margin: auto;
}
.head-col-pric .sub-title {
    display: block;
    color: #999;
}
.head-col-pric .num {
    border-radius: 50%;
    background-color: #e2e2e2;
    line-height: 40px;
    width: 40px;
    height: 40px;
}
.title-companies {
    padding: 20px 0 0;
}
.special-pric {
    color: #c9236d;
    font-size: 25px;
    height: 85px;
    padding: 0;
}
.pric-menu .col-pric .num-menu {
    margin-bottom: 80px;
}
.pric-menu .col-pric .num-menu li {
    margin: 40px 0;
}
.pric-menu .col-pric .btn-buy {
    background-color: #27405b;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
}
.pric-menu .col-pric .btn-buy.special {
    background-color: #c9236d;
}
.said-about .title-said-about {
    position: relative;
    top: -125px;
}
.said-about .title-said-about .head-title-said {
    font-size: 40px;
}
.said-about .said-testmonial .testmonial-box {
    background-color: #dcc697;
    position: relative;
    min-height: 195px;
    margin-bottom: 60px;
}
.said-about .said-testmonial .testmonial-box .fa-user {
    background-color: #ad9157;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
}
.said-about .said-testmonial .testmonial-box .num-user {
    display: inline-block;
    margin: 0 5px;
}
.said-about .said-testmonial .testmonial-box .hour,
.said-about .said-testmonial .testmonial-box .twitter {
    position: absolute;
    right: 15px;
    color: #ad9157;
}
.said-about .said-testmonial .testmonial-box .hour {
    bottom: 20px;
}
.said-about .said-testmonial .testmonial-box .twitter {
    top: 20px;
}
/*------------------------------------
Slick Slider */
.slick-slider {
    top: -80px;
}
.said-about .fa-angle-left,
.said-about .fa-angle-right {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -5px;
    color: #ad9157;
    font-size: 25px;
    z-index: 55;
    cursor: pointer;
}
.fa-angle-left {
    left: 45%;
}
.fa-angle-right {
    left: 55%;
}

@media (max-width: 767px) {
    .said-about .pric-menu {
        padding-left: 150px;
    }
    .said-about .title-menu {
        padding-left: 20px;
    }
    .said-about .title-menu li {
        padding-bottom: 68px;
        margin-top: -29px;
    }
    .said-about .title-said-about .head-title-said {
        font-size: 20px;
    }
    .said-about .title-said-about p {
        font-size: 14px;
    }
    .said-about .said-testmonial .testmonial-box {
        margin-bottom: 10px;
    }
    .test-bost,
    .num-user,
    .hour {
        font-size: 12px;
    }
    .fa-angle-left,
    .fa-angle-right {
        bottom: -50px;
        color: #ad9157;
        font-size: 16px;
    }
}
/* -----------------------
1.2 - Footer Section */
footer {
    background-color: #27405b;
    color: #fff;
}
.about-foot .desc-about-foot {
    line-height: 2;
}
.contact-foot .cont-foot-title,
.contact-foot i {
    color: #96ccd2;
    margin-top: 10px;
}
.contact-foot .location {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
footer .mosaic-foot ul {
    padding: 0;
}
.newsletter-foot .box-btn-news {
    display: flex;
}
.newsletter-foot .box-btn-news input {
    padding: 10px 15px;
    width: 100%;
    border: none;
}
.newsletter-foot .box-btn-news .bet-news {
    background-color: #96ccd2;
    color: #fff;
    width: 120px;
}
@media (max-width: 767px) {
    .contact-foot {
        margin-bottom: 20px;
    }
}
/* --------------------
1.2.1- Copy Right */
.coby-right {
    background-color: #e6e5e5;
}
.coby-right .social-copy {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.coby-right .social-copy i {
    border-radius: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.coby-right .social-copy span {
    color: #999;
    margin: 0 5px;
}
.coby-right .social-copy .fa-twitter {
    background: #1da1f2;
}
.coby-right .social-copy .fa-facebook-f {
    background: #3b5998;
}
.coby-right .social-copy .fa-basketball-ball {
    background: #d1196f;
}
@media (max-width: 767px) {
    .coby-righ {
        text-align: center !important;
    }
    .coby-right .social-copy {
        margin: 10px 0;
        text-align: center;
    }
    .coby-right .social-copy i {
        display: block;
        margin: 5px auto;
    }
    .coby-right .social-copy span,
    .coby-right .all-right {
        font-size: 14px;
    }
}
/* -----------------------------------------------
 End Home Page*/

/*-------------------------------------------------
 Start Page-404 */
.page-404 .content-page-404 .icon-page-404 i {
    font-size: 120px;
    transform: rotate(40deg);
    color: #3b5998;
}
.page-404 .content-page-404 .title-page-404 {
    font-size: 50px;
    font-weight: normal;
    margin-top: 0;
}
.page-404 .content-page-404 .desc-page-404 p {
    color: #999;
    margin-bottom: 0;
    font-size: 20px;
}
.page-404 .content-page-404 .desc-page-404 a {
    color: #c9236d;
    font-weight: bold;
    text-decoration-color: #c9236d;
    text-decoration-line: underline;
}
.page-404 .content-page-404 .desc-page-404 button {
    background-color: #27405b;
    color: #fff;
    padding: 15px 30px;
}
/*-----------------------------------------
 End Page-404 */

/*------------------------------------
 Start-Question-Page */
.question-page .head-question-page h1 {
    font-size: 40px;
}
.question-page .head-question-page input:focus {
    border: 1px solid #e2e2e2;
    box-shadow: 2px 2px 5px 1px #e2e2e2;
    outline: none;
}
.question-page ul li {
    margin: 15px 0;
}
.question-page .box-question {
    text-align: center;
    padding: 15px 10px;
    border: 1px solid #999;
    border-radius: 5px;
}
.question-page .box-question.active-question {
    background-color: #e6e6e6;
    box-shadow: 2px 2px 5px 1px #e2e2e2;
}
.question-page ul li .plus-toggle,
.question-page ul li .nigt-toggle {
    font-size: 20px;
}
.question-page ul li span {
    display: inline-block;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
}
.question-page .desc-box-question,
.question-page ul li .nigt-toggle {
    display: none;
}
/*------------------------------------
 End-Question-Page */

/* ----------------------------------------
Start Contact-page */

.contact-page .info div {
    margin: 10px 0;
}
.contact-page .info div i {
    margin-right: 15px;
    color: #3b5998;
    font-size: 20px;
    text-align: center;
}
.contact-page .info div:last-child {
    position: relative;
    padding-left: 40px;
}
.contact-page .info div:last-child i {
    position: absolute;
    top: 10px;
    left: 5px;
    color: #a2d13a;
}
.contact-page .info div p {
    display: inline-block;
    color: #999;
}
.contact-page .coll-me .coll-me-box,
.cull-us .coll-me .coll-me-box {
    background: #f8f6f7;
    padding: 20px 15px;
    text-align: center;
    min-height: 140px;
    border: 1px solid #f8f6f7;
    transition: border 0.3s;
}
.contact-page .coll-me .coll-me-box:hover,
.cull-us .coll-me .coll-me-box:hover {
    border: 1px solid #d1196f;
}
.contact-page .coll-me .coll-me-box img,
.cull-us .coll-me .coll-me-box img {
    display: block;
    margin: 10px auto;
    min-height: 60px;
}
.contact-page .form-contact-page input,
.contact-page .form-contact-page textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #fafafa;
    border: 1px solid #e2e2e2;
}
.contact-page .form-contact-page textarea {
    max-height: 300px;
}
.contact-page .form-contact-page .form-contact-box {
    display: inline-block;
    width: 49%;
    position: relative;
}
.contact-page .form-contact-page .form-contact-box i {
    position: absolute;
    right: 15px;
    top: 16px;
    color: #000;
    font-size: 18px;
    transition: color 0.3s;
}
.contact-page .form-contact-page .form-contact-box button {
    width: 100%;
    text-align: left;
    padding: 15px 20px;
    background-color: #fafafa;
    transition: color 0.3s, background-color 0.3s;
}
.contact-page .form-contact-page .form-contact-box button:hover {
    background-color: #c9236d;
    color: #fff;
    box-shadow: 0 2px 3px 0 #c9236d;
}
.contact-page .form-contact-box:hover i {
    color: #fff;
}
/* ----------------------------------------
End Contact-Page */

/* ----------------------------------------
Start Resarch-Page*/
.resarch-page .border-col {
    border-right: 1px solid #e6e6e6;
}
.resarch-page .seacrh-img-video > .fa-times {
    border-radius: 50%;
    background-color: #e6e6e6;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #3b5998;
}
.resarch-page .seacrh-img-video .type-images {
    position: relative;
}
.resarch-page .seacrh-img-video .type-images > i {
    position: absolute;
    top: -2px;
    right: 12px;
    font-size: 19px;
    color: #a3a2a2;
}
.resarch-page .seacrh-img-video .type-images .list-content-type {
    padding: 0;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.resarch-page .seacrh-img-video .type-images .list-content-type li {
    background-color: #e6e6e6;
    padding: 5px 10px;
}
.resarch-page .seacrh-img-video .type-images .list-content-type li a {
    color: #000;
}
.list-color-research-page {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1px;
}
.list-color-research-page li {
    position: relative;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
.list-color-research-page li i {
    position: absolute;
    top: 0;
    display: none;
    cursor: pointer;
}
.list-color-research-page li span {
    display: block;
    width: 20px;
    height: 20px;
}
.list-color-research-page li:nth-child(1) i {
    position: absolute;
    display: block;
    border: 5px solid #e6e6e6;
}
.list-color-research-page li:nth-child(2) span {
    background-color: #000;
}
.list-color-research-page li:nth-child(3) span {
    background-color: #e72525;
}
.list-color-research-page li:nth-child(4) span {
    background-color: #f48700;
}
.list-color-research-page li:nth-child(5) span {
    background-color: #eca71d;
}
.list-color-research-page li:nth-child(6) span {
    background-color: #f1f129;
}
.list-color-research-page li:nth-child(7) span {
    background-color: #a9e418;
}
.list-color-research-page li:nth-child(8) span {
    background-color: #06d506;
}
.list-color-research-page li:nth-child(9) span {
    background-color: #0ecb9b;
}
.list-color-research-page li:nth-child(10) span {
    background-color: #1ae0e0;
}
.list-color-research-page li:nth-child(11) span {
    background-color: #1f55f8;
}
.list-color-research-page li:nth-child(12) span {
    background-color: #0000ff;
}
.list-color-research-page li:nth-child(13) span {
    background-color: #7f00ff;
}
.list-color-research-page li:nth-child(14) span {
    background-color: #bf00ff;
}
.list-color-research-page li:nth-child(15) span {
    background-color: #ea06b1;
}
.list-color-research-page li:nth-child(16) span {
    background-color: #0bbbf5;
}
.list-color-research-page li:hover i {
    display: block;
    border: 5px solid #e6e6e6;
}
.list-color-research-page li:hover span {
    display: none;
}
.parent-box-reseacrh-page {
    position: relative;
}
.resarch-page .list-resrearch li {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    text-align: center;
}
.resarch-page .list-resrearch li a {
    color: #999;
    font-weight: normal;
}
.resarch-page .box-images-research {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}
.resarch-page .box-images-research .images-research img {
    height: 100%;
    width: 100%;
}
.resarch-page .num-page {
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.resarch-page .num-page .link-next a {
    font-style: italic;
    border: 1px solid #e6e6e6;
    padding: 10px 20px;
    display: block;
    width: 100px;
    color: #3b5998;
    margin: auto;
}
.resarch-page .num-page .num-arrwo {
    padding: 10px 20px;
}
.resarch-page .num-page .num-arrwo i {
    padding: 10px;
    background-color: #ebebeb;
    margin: 0 30px;
    color: #999;
}
.resarch-page .num-page .num-arrwo .num-page-research {
    border: 1px solid #e6e6e6;
    padding: 5px 15px;
}

@media (max-width: 767px) {
    .resarch-page .border-col {
        border-right: none;
    }
    .resarch-page .list-resrearch li {
        width: 65px;
        margin: 5px 0;
    }
    .btn-vid-pho button {
        margin-top: 5px;
    }
    .parent-box-reseacrh-page {
        padding-bottom: 100px !important;
    }
    .resarch-page .num-page {
        width: 80%;
        bottom: 10px;
    }
    .resarch-page .num-page .link-next a {
        display: inline-block;
        width: auto;
        margin: 0;
        padding: 5px 10px;
    }
    .resarch-page .num-page .num-arrwo {
        text-align: right;
    }
    .resarch-page .num-page .num-arrwo i {
        padding: 5px;
        margin: 0 10px;
    }
}
/* ----------------------------------------
End Resarch-Page*/

/*----------------------------------------
Start Cart Popup - Page*/
.pernt-popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    display: block;
}
.pernt-popup .title-popup {
    margin: 0 20px;
    font-size: 35px;
    background: #fff;
}
.pop-up-cart {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    background-color: #fff;
    z-index: 5;
    padding: 20px 30px;
    width: 75%;
}

.box-cart {
    background-color: #fff;
    border-right: 10px solid #e2e2e2;
    padding-right: 15px;
}
.pop-up-cart .box-cart-imges {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}
.pop-up-cart .box-cart-imges img {
    height: 100%;
}

.pop-up-cart .enhaced-cart {
    display: inline-block;
}
.pop-up-cart .box-cart-imges .fa-times,
.close-popup-cart {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #e2e2e2;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.pop-up-cart .edit-cart {
    position: absolute;
    top: 50%;
    right: 15px;
    color: #d1196f;
}
.how-cart {
    border-radius: 50%;
    border: 1px solid #e6e5e5;
    width: 25px;
    height: 25px;
}
.prici-cart {
    font-size: 20px;
    background-color: #fff;
}
.prici-cart .total-prici-cart {
    padding: 30px 0;
}
.prici-cart .total-prici-cart p {
    color: #999;
    line-height: 2;
}
.prici-cart .total-prici-cart span {
    font-size: 30px;
}
.btns {
    padding: 15px 20px;
    text-align: center;
    color: #fff;
    background-color: #a2d13a;
    width: 90%;
}
.close-popup-cart {
    font-size: 20px;
    top: 30px;
    right: 30px;
}

@media (max-width: 767px) {
    .box-cart {
        border-left: none;
        padding: 0;
    }
    .pop-up-cart {
        width: 90%;
    }
    .imag-name-cart {
        margin-top: 15px;
    }
}
/*----------------------------------------
End Cart Popup - Page*/

/* -------------------------------
Start Special Page */
.special {
    width: 80%;
    margin: auto;
}
.special .head-form {
    color: #fff;
    background-color: #d1196f;
    padding: 30px 50px;
    border: none;
    position: relative;
    top: -20px;
}
.special .box-request {
    background-color: #fdfefe;
    border: 1px solid #ececec;
    border-top: none;
    color: #333333;
    position: relative;
    top: -20px;
    padding: 10px;
}
.special .box-request .txt-spec {
    font-size: 20px;
    color: #222;
}
.special .box-request .box p {
    font-size: 17px;
    color: #666666;
}
.special .box-request .box-img {
    background-color: #f8f8f8;
    width: 58%;
    padding-bottom: 37px;
    padding-top: 37px;
    border: 1px solid #999;
    transition: border 0.3s;
}
.special .box-request .box:hover .box-img {
    border: 1px solid #d1196f;
}
.special .box-request .box .box-img {
    width: 49%;
    min-height: 125px;
}
.special .box-request .btn-spac {
    background-color: #d1196f;
    color: #fff;
    cursor: pointer;
    padding: 10px 35px;
    font-size: 18px;
    border: 1px solid #d1196f;
    transition: all 0.5s ease-in-out;
}
.special .box-request .btn-spac:hover {
    background-color: #fff;
    border-color: #d1196f;
    color: #d1196f;
}
.special .box-request .main-txt {
    font-size: 18px;
    color: #4e4e56;
}
.special .box-request .file-up[type="file"] {
    cursor: pointer;
    width: 180px;
    height: 34px;
    overflow: hidden;
}
.special .box-request .file-up[type="file"]:before {
    width: 180px;
    height: 36px;
    font-size: 18px;
    line-height: 32px;
    content: "file type ( doc,pdf )";
    display: inline-block;
    background: white;
    padding: 0 10px;
    text-align: center;
}
.special .box-request .line-req {
    border-right: 1px solid #b3b3b3;
    border-left: 1px solid #b3b3b3;
}
.special .box-request .inp {
    width: 50%;
    background-color: #f8f8f8;
    border: 1px solid #b3b3b3;
    padding: 8px 15px 10px 15px;
    color: #ffff;
}
.special .box-request .inp-call {
    padding-bottom: 100px;
}
.special .box-request .line {
    border-bottom: 5px solid #cbb072;
}
.special .box-request .circle {
    border: 1px solid #b3b3b3;
    border-radius: 50%;
    width: 12px;
    padding: 7px 7px;
    margin: 5px;
    background-color: #fff;
}
.special .box-request .quest {
    border-bottom: 2px solid #e2e2e2;
}
.special .box-request .num {
    background-color: #f8f8f8;
    border: 1px solid #e6e5e5;
    padding: 10px 10px 0 10px;
    width: 44%;
}
.special .box-request .p-main {
    color: #666666;
}
.special .box-request .inp-expl {
    width: 85%;
    padding-bottom: 80px;
}
.special .box-request .s-color {
    padding: 8px 10px;
    text-transform: capitalize;
}
@media (max-width: 767px) {
    .special {
        width: 100%;
    }
    .special .head-form {
        padding: 15px 20px;
    }
    .head-form h2 {
        font-size: 20px;
    }
    .special .box-request .inp {
        width: 100% !important;
    }
    .special .box-request .line-req {
        border-top: 1px solid #b3b3b3;
        border-bottom: 1px solid #b3b3b3;
        border-right: none;
        border-left: none;
        padding-top: 15px;
    }
}

/* -----------------------
End Special Page*/

/* ----------------------------
Start Dashbord-Page */
.dashbord .info-list-dash {
    border-right: 1px solid #999;
}
.dashbord .info-list-dash li {
    margin: 10px 0;
    padding: 10px 15px;
}
.dashbord .info-list-dash li a {
    color: #27405b;
    font-weight: bold;
    margin: 0 5px;
}
.dashbord .info-list-dash li img,
.dashbord .info-list-dash li i{
    width: 20px;
}
.dashbord .info-list-dash li:hover {
    background-color: #fafafa;
}
.dashbord .content-dash .title-dash h2 {
    font-size: 45px;
}
.dashbord .content-dash .title-dash p {
    font-weight: bold;
}
.dashbord .content-dash form {
    width: 80%;
    margin-top: 20px;
}
.dashbord .content-dash form .box-form-dash {
    position: relative;
}
.dashbord .content-dash form .box-form-dash a {
    position: absolute;
    top: 18px;
    right: 75px;
    color: #27405b;
}
.dashbord .content-dash form .box-form-dash i {
    position: absolute;
    top: 22px;
    right: 120px;
}
.dashbord .content-dash form label {
    width: 20%;
    display: inline-block;
}
.dashbord .content-dash form input {
    width: 70%;
    padding: 10px 15px;
    margin: 10px 0;
}
.dashbord .preferences-dash {
    width: 82%;
}
.dashbord .preferences-dash .border-preferences {
    border: 1px solid #e6e6e6;
    padding: 25px 15px;
}
.dashbord .preferences-dash .email-preferences .bull-toggle {
    position: relative;
}
.dashbord .preferences-dash .email-preferences .bull-toggle .bull-preferences {
    position: absolute;
    right: 10px;
    background-color: #fafafa;
    display: inline-block;
    padding: 4px;
    width: 40px;
    height: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}
.dashbord
    .preferences-dash
    .email-preferences
    .bull-toggle
    .bull-preferences::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    display: block;
    background-color: #c9236d;
    padding: 8px;
    top: 1px;
    right: 2px;
}
.dashbord .preferences-dash .language-preference .select-language {
    border: 1px solid #e6e6e6;
    padding: 3px 5px;
    width: 135px;
}
.dashbord .preferences-dash .language-preference .select-language i {
    color: #27405b;
}
.dashbord .preferences-dash .language-preference select {
    border: none;
    outline: none;
    width: 100px;
    padding: 0 5px;
    cursor: pointer;
}
.dashbord .preferences-dash .delete-account-preference a,
.dashbord .preferences-dash .delete-account-preference i {
    color: #c9236d;
}
@media (max-width: 992px) {
    .dashbord .info-list-dash {
        border-bottom: 1px solid #999;
        border-right: none;
    }
    .dashbord .content-dash .title-dash h2 {
        font-size: 25px;
    }
    .dashbord .content-dash .title-dash p {
        font-size: 14px;
    }
    .dashbord .content-dash form {
        width: 100%;
    }
    .dashbord .content-dash form .box-form-dash a {
        top: 15px;
        right: 35px;
    }
    .dashbord .content-dash form .box-form-dash i {
        top: 18px;
        right: 80px;
    }
    .dashbord .content-dash form label {
        font-size: 14px;
        width: 30%;
    }
    .dashbord .content-dash form input {
        width: 65%;
        padding: 5px 10px;
    }
    .dashbord .preferences-dash {
        width: 100%;
    }
}
/* ----------------------------
End Dashbord-Page */
/* ----------------------
Start Popup Dash */

.popup-dash {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.popup-dash .content-popup-dash {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    background-color: #fff;
    margin: auto;
    width: 30%;
}
/* Start Popup Save*/
.popup-dash .content-popup-dash h3 {
    color: #27405b;
}
.popup-dash .save .content-popup-dash input,
.popup-dash .save .content-popup-dash button {
    display: block;
    margin: 30px auto 0;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #e6e6e6;
}
.popup-dash .content-popup-dash button {
    background-color: #c9236d;
    border: 1px solid #c9236d;
    color: #fff;
    transition: background-color 0.3s;
}
.popup-dash .content-popup-dash button:hover {
    background-color: #fff;
    color: #c9236d;
}
/* Start Popup Share */
.share .content-popup-dash {
    width: 50%;
}
.share-radio {
    display: inline-block;
    width: 48%;
    margin-bottom: 20px;
}
.share .share-radio input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
}
.share-radio label {
    position: relative;
    cursor: pointer;
    padding-left: 15px;
    font-weight: bold;
}
.share-radio label:before,
.share-radio label:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}
.share-radio label:before {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    left: -5px;
    top: 6px;
}
.share-radio label:after {
    top: 9px;
    left: -2px;
    width: 9px;
    height: 9px;
    background-color: #e91e63;
    transform: scale(0);
    transition: transform 0.3s;
}
.share-radio input[type="radio"]:checked + label:before {
    border-color: #e91e63;
}
.share-radio input[type="radio"]:checked + label:after {
    transform: scale(1);
}
.share .content-popup-dash p {
    color: #999;
    font-size: 14px;
    margin-bottom: 0;
}
.share .content-popup-dash .link-share {
    display: block;
    width: 60%;
    padding: 5px 10px;
    margin-bottom: 50px;
    border: 1px solid #e6e6e6;
}
.share .content-popup-dash button {
    width: 40%;
}
.share .link-team-share,
.share textarea {
    display: block;
    width: 70%;
    margin: 10px 0;
    border: 1px solid #e6e6e6;
    padding: 5px 10px;
}
.share textarea {
    max-height: 100px;
    min-height: 100px;
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .popup-dash .content-popup-dash {
        width: 90%;
    }
    .share .content-popup-dash .link-share {
        width: 100%;
    }
    .share .content-popup-dash button {
        width: 80%;
    }
    .share-radio {
        width: 100%;
    }
    .share .link-team-share,
    .share textarea {
        width: 90%;
    }
}
/* ---------------------
End Popup Save-Dash */
