/*
    1- Global-Style
        1.1 - Header Section
            1.1.1 - Form User
            1.1.2 - Cart Popup
            1.1.3 - Search Box Header
            1.1.4 - DrobDown Menu

        1.2 - Footer Section
            1.2.1- Down-Footer
        1.3 - Icon Chat 
            1.3.1 - Popup - Chat

    2- Hover-Effects

    3- Home-Page
        3.2 - Exampales Section (Photo - video)
        3.3 - Videos Section
            3.3.1 - Trusted Section
        3.4 - Pricing Section
            3.4.1 - Said Abuot us ( Testmonial)
    
*/

/* 1-  Global Style */


a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

input,
button {
    outline: none !important;
    border: none;
}
/*------------------------------------------------
 1.1 - Header Section */
header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../images/header/Asset\ 4.png") no-repeat;
    background-size: cover;
    position: relative;
}
header .logo img {
    width: 100px;
}
header nav .nav-link {
    color: #fff !important;
}
.header-icons li {
    display: inline-block;
}

.header-icons li > i,
.header-icons .form-user-nav .user-form i.fa-user {
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.header-icons li > i.fa-user,
.header-icons .form-user-nav .user-form i.fa-user {
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    line-height: 40px;
    position: relative;
}
/* -------------------------------------------
1.1.1 - Form User */
.header-icons .form-user-nav .user-form {
    position: absolute;
    z-index: 2;
    background-color: #fff;
    left: -80px;
    top: 55px;
    padding: 20px;
    text-align: left;
    display: none;
}
.header-icons .form-user-nav .user-form::before,
.search-box-header .categories-menu .drobdwon::before {
    content: "";
    position: absolute;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.header-icons .form-user-nav .user-form::before {
    top: -30px;
    right: 23%;
}
.header-icons .form-user-nav .user-form i.fa-user {
    background-color: #e2e2e2;
    text-align: center;
}
.list-user-form-nav li {
    padding: 10px 0;
    display: block;
}
.list-user-form-nav li:last-child {
    border-top: 1px solid #e6e5e5;
}
.list-user-form-nav li a {
    color: #000;
}

/*----------------------------------------
1.1.2 - Cart Popup */
.pernt-popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    display: none;
}
.pernt-popup .title-popup {
    margin: 0 20px;
    font-size: 35px;
    background: #fff;
}
.pop-up-cart {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    background-color: #fff;
    z-index: 5;
    padding: 20px 30px;
    width: 75%;
}

.box-cart{
    background-color: #fff;
    border-right: 10px solid #e2e2e2;
    padding-right: 15px;
}
.pop-up-cart .box-cart-imges {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}
.pop-up-cart .box-cart-imges img {
    height: 100%;
}
.pop-up-cart .bolder {
    font-weight: bold;
}
.pop-up-cart .enhaced-cart {
    display: inline-block;
}
.pop-up-cart  .box-cart-imges .fa-window-close,
.close-popup-cart {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}
.pop-up-cart .edit-cart {
    position: absolute;
    top: 50%;
    right: 15px;
    color: #d1196f;
}
.how-cart {
    border-radius: 50%;
    border: 1px solid #e6e5e5;
    width: 25px;
    height: 25px;
}
.prici-cart{
    font-size: 20px;
    background-color: #fff;
}
.prici-cart .total-prici-cart{
    padding: 30px 0;
}
.prici-cart .total-prici-cart p{
    color: #999;
    line-height: 2;
}
.prici-cart .total-prici-cart span{
    font-size: 30px
}
.btns{
    padding: 15px 20px;
    text-align: center;
    color: #fff;
    background-color: #a2d13a;
    width: 90%;
}
.close-popup-cart{
    font-size: 20px;
    top: 30px;
    right: 30px;
}
/*-----------------------------------------------
1.1.2 Search Box Header  */
.search-box-header {
    background-color: #fff;
    width: 90%;
    position: relative;
}
@media (max-width: 767px) {
    .search-box-header {
        width: 100%;
    }
}
.search-box-header .line-search {
    padding: 0 10px;
    text-align: center;
}
.search-box-header .npt-box {
    border: none;
    border-left: 2px solid #e6e5e5;
}
@media (max-width: 767px) {
    .search-box-header .npt-box {
        width: 70%;
    }
}
.search-box-header .npt-box::placeholder {
    color: #999;
}
.search-box-header .categories-menu {
    cursor: pointer;
    border-left: 2px solid #e6e5e5;
    position: relative;
}

/*----------------------------------------------------------
1.1.3 - DrobDown Menu */

.search-box-header .categories-menu .drobdwon {
    position: absolute;
    background-color: #fff;
    top: 80px;
    left: -30px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s, visibility 0.3s;
    z-index: 2;
}
.search-box-header .categories-menu .drobdwon ul {
    padding: 0;
}
.search-box-header .categories-menu .drobdwon::before {
    top: -35px;
    left: 45%;
    transform: translate(-50%, 0);
}

.search-box-header .categories-menu:hover .drobdwon {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.search-box-header .icon-search i {
    position: absolute;
    display: block;
    top: -5px;
    right: 15px;
    background: #a2d13a;
    color: #fff;
    width: 100px;
    height: 85px;
    line-height: 45px;
    text-align: center;
}
@media (max-width: 929px) {
    .search-box-header .icon-search i {
        position: relative;
        background: #a2d13a;
        color: #fff;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
    }
}
.search-box-header .special {
    background-color: #d1196f;
    color: #fff;
    height: 100%;
}
.search-box-header .special span {
    display: block;
}
